$red: #FF0D27;
$darkRed: #B21B2B;
$blue: #1F93CC;
$darkBlue: #0078B2;
$yellow: #FFF727;

html, body {
  width: 100%;
  height: 100%;
  background-color: #eee;
}

h3 {
  color: $red;
  margin: 0;
  padding: 15px;
}

header {
  height: 150px;
  width: 100%;
  background-color: #fff;
  z-index: 5;
  -webkit-box-shadow: 0 4px 4px -4px #666;
  -moz-box-shadow: 0 4px 4px -4px #666;
  box-shadow: 0 4px 4px -4px #666;
  a {
    font-family: 'Bangers', cursive;
    color: #000;
    font-size: 2.5em;
    font-weight: 100;
    i {
      color: $blue;
    }
  }
}

.nav {
  text-align: center;
  .nav div img {
    margin-top: 2%;
    height: 90%;
    width: auto;
  }
  .nav-text{
    margin-top: 40px;
    i {
      margin-left: 2%;
      margin-right: 2%;
    }
  }
}

#avatarImg {
  margin-top: 3%;
  height: 93%;
  width: auto;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}

#avatarImg:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.container {
  width: 100%;
  margin-top: 3px;
  background-color: #eee;
}

.rotate-right {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.info {
  margin-top: 20px;
  font-size: 1.2em;
  line-height: 1.5;
  text-align: left;
}

@media (max-width: 1180px) {
  header {
    height: 125px;
    a {
      font-size: 2em;
    }
  }
}
@media (max-width: 1000px) {
  #avatarImg {
    display: none;
  }
  header a {
    font-size: 1em;
    font-weight: thin;
    letter-spacing: 2;
  }
  .nav .nav-text {
    margin-top: 10px;
  }
}
