@import "main";

.skills-container {
  width: 100%;
  margin-top: 10px;
  background-color: #ffffff;
  border: 1px solid #bdbdbd;
  @include level1Shadow;
  h3 {
    margin: 10px;
    color: $blue;
  }
}

.skill-content {
  padding: 15px;
}

.skill-content:nth-child(2n){
  background: #fafafa;
}
