<link type="text/css" rel="stylesheet" href="../css/home.css"/>

<div class="row" id="intro">
  <div class="col-md-3 col-md-offset-2 col-sm-4 col-sm-offset-1">
    <div class="polaroid">
      <img src="images/Liz2.png">
    </div>
  </div>
  <div class="col-md-5 col-sm-6 intro-info">
    <h1>Frontend Developer</h1>
    <h2>Experienced with Full-Stack Javascript & Ruby on Rails</h3>
      <p class="info">Can code on less than two cups of coffee per day. Enjoys turtles, theme parks, and bad (but good?) reality tv. Management major that took a hobby and love for programming, and made it a career. Time management, eagerness to learn, and hardwork
        is everything.</p>
  </div>
</div>
