<link type="text/css" rel="stylesheet" href="../css/jams.css" />

<div class="jams-container">
  <div ng-repeat="track in tracks" class="row sc-track">
    <div class="album-art" ng-style="{'background-image':'url({{track.artwork_url}})'}">
    </div>
    <div class="track-info">
      <a ng-href="{{track.permalink_url}}">
        <h3> {{ track.title }} </h3>
      </a>
    </div>
    <a ng-click="play(track)" ng-class="track.isPlaying ? 'play track-playing' : 'play track-paused'"><i ng-class="track.isPlaying ? 'fa fa-pause fa-1x' : 'fa fa-play-circle-o fa-2x'"></i></a>
  </div>
</div>
