<link type="text/css" rel="stylesheet" href="../css/portfolio.css" />

<div class="row" id="portfolio" ng-controller="slideController">
  <div class="portfolio-section" data-ng-class="{'active-slides': isActive==true}">
    <div class="row">
      <div class="col-md-6 pull-left">
        <h3><a href="app.lifespeed.io">App.Lifespeed.io</a></h3>
      </div>
      <div class="col-md-6 pull-right">
        <button class="btn btn-primary pull-right" ng-click="activeSlides()"><span ng-show="!isActive">Expand</span><span ng-show="isActive">Close</span></button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <span>Jan 2015 - Present</span>
        <p>Built the frontend functionality for over 80% of Lifespeed's 'Dropbox meets Pinterest' health platform. Discussed and utilized design specifications and comps, as well as including some of my own design in creating and coding the functionality behind the screens shown below.
      </div>
    </div>
    <flex-slider slide="slide in lifespeedSlides">
      <li>
        <img ng-src="{{slide}}">
      </li>
    </flex-slider>
  </div>
</div>
