<link type="text/css" rel="stylesheet" href="../css/skills.css"/>

<div class="row" id="skills">
  <div class="skills-container">
    <div class="row">
      <div class="col-md-6 skill-content">
        <h3>Programming Languages and Technologies</h3>
        <ul>
          <li>Javascript</li>
          <li>Ruby, Ruby on Rails</li>
          <li>Exposure to Java (college), C# (work)
            <li>JQuery</li>
            <li>AJAX, JSON</li>
            <li>HTML</li>
            <li>CSS, SASS</li>
            <li>Bootstrap, Foundation</li>
            <li>Angular, Backbone</li>
            <li>Grunt</li>
            <li>MySQL, PostgreSQL</li>
            <li>Heroku</li>
            <li>Learning: Node, Angular</li>
        </ul>

      </div>
      <div class="col-md-6 skill-content">
        <h3>Dev Tools</h3>
        <ul>
          <li>Git, Github</li>
          <li>Chrome dev tools</li>
          <li>Postman</li>
          <li>Asana, Pivotal Tracker</li>
          <li>Atom, Sublime Text</li>
          <li>Microsoft Visual Studio</li>
          <li>Adobe Photoshop</li>
        </ul>
      </div>
    </div>
  </div>
</div>
